<!--author Patrick Metz-->

<h2>Preis&shy;ver&shy;wal&shy;tung</h2>

<div id="preisVerwaltung">
  <table *ngIf="preise?.length">
    <tr *ngFor="let preis of preise">
      <td>{{preis.bezeichnung}}</td>
      <td>
        <input placeholder="Preis" [(ngModel)]='preis.betrag' type='number' step='any' name='{{preis.typ}}' value="{{preis.betrag}}">
      </td>
    </tr>
  </table>
  <br>
  <button (click)="speicherePreise()">Preise speichern</button>

  <p *ngIf="bestaetigungSichtbar">Die Preise wurden gespeichert.</p>
</div>

