ccm-parkhaus-8-0-0{
    float: right;
    width:80%;
}

#app{
    margin-top: 3px;
    float: left;
    width:20%;
}

#app div{
    margin-bottom: 50px;
}

#preisVerwaltung input[type=number]{
    width:75px;
}

body * {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

input {
    padding: 0.1rem;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    border: thin solid black;
    box-shadow: 0.1rem 0.1rem #666;
}

button {
    display: inline-block;
    font-size: large;
    margin: 0.4rem;
    padding: 0.4rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

button:hover {
    border: thin solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

button:active {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(4px);
}

